@font-face {
    font-family: 'Pretendard';
    src: url('../Fonts/Pretendard-Bold.woff') format('woff2'),
         url('../Fonts/Pretendard-Bold.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../Fonts/Pretendard-ExtraLight.woff2') format('woff2'),
         url('../Fonts/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}